.DS_Store
node_modules
previouslyOn_app/platforms/*
!previouslyOn_app/platforms/.gitkeep
previouslyOn_app/www/js/*
previouslyOn_app/www/js/.*
!previouslyOn_app/www/js/.gitkeep
previouslyOn_app/www/css/materialize.css
previouslyOn_app/www/css/materialize.min.css
previouslyOn_app/www/css/ghpages-materialize.css
previouslyOn_app/www/css/prism.css
previouslyOn_app/www/font/*
previouslyOn_app/www/fonts/*
previouslyOn_app/plugins
